[Desktop Entry]
Name=ES-DE
Exec=env DRI_PRIME=1 /home/drew/.local/bin/es-de
Icon=/home/drew/Games/Emulation/ES-DE/ES-DE.png
Terminal=false
Type=Application
Categories=Game
Comment=Emulation Frontend
