[Desktop Entry]
Name=ES-DE
Exec=env DRI_PRIME=1 ~/.local/bin/es-de
Icon=org.es_de.emulationstation-de
Terminal=false
Type=Application
Categories=Game
Comment=Emulation Frontend
