[Desktop Entry]
Name=Etcher
Exec=/home/drew/.local/bin/etcher
Icon=etcher
Terminal=false
Type=Application
Categories=Utility
Comment=Flash OS images to SD cards & USB drives
