[Desktop Entry]
Name=HandyOutliner
Exec=/home/drew/.local/bin/handyoutliner
Path=/home/drew/Applications/handyoutliner_1.1.6.4/
Icon=/home/drew/Applications/handyoutliner_1.1.6.4/icon.png
Terminal=false
Type=Application
Categories=Utility
Comment=HandyOutliner for DjVu / PDF
Keywords=pdf
URL=https://handyoutlinerfo.sourceforge.net/
