[Desktop Entry]
Name=Spotify
GenericName=Music Player
Exec=/home/drew/.local/bin/spotify
Icon=/home/drew/Applications/spotify/icon.png
Terminal=false
Type=Application
Categories=AudioVideo
Comment=Listen to Music
URL=https://github.com/ivan-hc/Spotify-AppImage/
