[Desktop Entry]
Name=Spotify
GenericName=Music Player
Exec=/home/drew/.local/bin/spotify
Icon=spotify
Terminal=false
Type=Application
Categories=AudioVideo
Comment=Listen to Music
